body{
    background-image: url("images/giphy.webp");
    background-size: cover;
    color: 0C213E;
    text-align: center;
    font-size: large;
    font-family: 'Original Surfer', cursive;
}
#mainlogo{
    width: 90px;
}
#tacb{
    padding-bottom: 200px;
}
.tandc{
    background-color: rgb(231, 225, 216);
    border: 0.5px solid black;
    padding: 20px 100px 20px 100px;
    font-size:x-large;
   
}
#butsiz{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:large;
    margin-top: 1px;
    text-align: center;
    padding: 6px;
    border: 1px solid black;
    color: 2F5C8F;

}
#whaat{
   

     
    text-underline-position: above;
    border-bottom: 3px solid whitesmoke;
    padding-bottom: 0px;

    
}